<div id="particles-js">
  <div class="content">
      <h1>
        <span class="site-title"><h1>{{site.username}}</h1></span>
        <span class="site-description"><h5>{{site.user_title}}</h5></span>
      </h1>
      <div class="icons-header">
        <a aria-label="Send email" href="mailto:{{site.email}}"><i class="icon fa fa-envelope-o"></i></a>
        <a aria-label="CV" target="_blank" href="{{site.cv}}"><i class="icon fa fa-address-card-o" aria-hidden="true"></i></a>
        <a aria-label="LinkedIn" target="_blank" href="https://www.linkedin.com/in/{{site.linkedin}}"><i class="icon fa fa-linkedin" aria-hidden="true"></i></a>
        <a aria-label="Blog" target="_blank" href="{{site.blog}}"><i class="icon fa fa-pencil" aria-hidden="true"></i></a>
        <a aria-label="Github" target="_blank" href="https://github.com/{{site.github_username}}"><i class="icon fa fa-github-alt" aria-hidden="true"></i></a>
        
      </div>
  </div>
</div>
